# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for
# license information.
#
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is
# regenerated.
# --------------------------------------------------------------------------

from azure.core.exceptions import map_error
from azure.core.paging import ItemPaged
from .. import models
import uuid


class FormRecognizerClientOperationsMixin(object):

    def train_custom_model_async(self, train_request, cls=None, **kwargs):
        """Train Custom Model.

        Create and train a custom model. The request must include a source
        parameter that is either an externally accessible Azure storage blob
        container Uri (preferably a Shared Access Signature Uri) or valid path
        to a data folder in a locally mounted drive. When local paths are
        specified, they must follow the Linux/Unix path format and be an
        absolute path rooted to the input mount configuration setting value
        e.g., if '{Mounts:Input}' configuration setting value is '/input' then
        a valid source path would be '/input/contosodataset'. All data to be
        trained is expected to be under the source folder or sub folders under
        it. Models are trained using documents that are of the following
        content type - 'application/pdf', 'image/jpeg', 'image/png',
        'image/tiff'. Other type of content is ignored.

        :param train_request: Training request parameters.
        :type train_request:
         ~azure.cognitiveservices.formrecognizer.models.TrainRequest
        :param callable cls: A custom type or function that will be passed the
         direct response
        :return: None or the result of cls(response)
        :rtype: None
        :raises:
         :class:`ErrorResponseException<azure.cognitiveservices.formrecognizer.models.ErrorResponseException>`
        """
        error_map = kwargs.pop('error_map', None)
        # Construct URL
        url = self.train_custom_model_async.metadata['url']
        path_format_arguments = {
            'endpoint': self._serialize.url("self._config.endpoint", self._config.endpoint, 'str', skip_quote=True)
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}

        # Construct headers
        header_parameters = {}
        header_parameters['Content-Type'] = 'application/json; charset=utf-8'
        if self._config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())

        # Construct body
        body_content = self._serialize.body(train_request, 'TrainRequest')

        # Construct and send request
        request = self._client.post(url, query_parameters, header_parameters, body_content)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise models.ErrorResponseException(response, self._deserialize)

        if cls:
            response_headers = {
                'Location': self._deserialize('str', response.headers.get('Location')),
            }
            return cls(response, None, response_headers)
    train_custom_model_async.metadata = {'url': '/custom/models'}

    def get_custom_models(
            self, op="full", cls=None, **kwargs):
        """List Custom Models.

        Get information about all custom models.

        :param op: Specify whether to return summary or full list of models.
         Possible values include: 'full', 'summary'
        :type op: str
        :return: An iterator like instance of ModelInfo
        :rtype:
         ~azure.core.paging.ItemPaged[~azure.cognitiveservices.formrecognizer.models.ModelInfo]
        :raises:
         :class:`ErrorResponseException<azure.cognitiveservices.formrecognizer.models.ErrorResponseException>`
        """
        error_map = kwargs.pop('error_map', None)
        def prepare_request(next_link=None):
            query_parameters = {}
            if not next_link:
                # Construct URL
                url = self.get_custom_models.metadata['url']
                path_format_arguments = {
                    'endpoint': self._serialize.url("self._config.endpoint", self._config.endpoint, 'str', skip_quote=True)
                }
                url = self._client.format_url(url, **path_format_arguments)
                if op is not None:
                    query_parameters['op'] = self._serialize.query("op", op, 'str')

            else:
                url = next_link
                path_format_arguments = {
                    'endpoint': self._serialize.url("self._config.endpoint", self._config.endpoint, 'str', skip_quote=True)
                }
                url = self._client.format_url(url, **path_format_arguments)

            # Construct headers
            header_parameters = {}
            header_parameters['Accept'] = 'application/json'
            if self._config.generate_client_request_id:
                header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())

            # Construct and send request
            request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(response):
            deserialized = self._deserialize('ModelsModel', response)
            list_of_elem = deserialized.model_list
            if cls:
               list_of_elem = cls(list_of_elem)
            return deserialized.next_link, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise models.ErrorResponseException(response, self._deserialize)
            return response

        # Deserialize response
        return ItemPaged(
            get_next, extract_data
        )
    get_custom_models.metadata = {'url': '/custom/models'}

    def get_custom_model(self, model_id, include_keys=False, cls=None, **kwargs):
        """Get Custom Model.

        Get detailed information about a custom model.

        :param model_id: Model identifier.
        :type model_id: str
        :param include_keys: Include list of extracted keys in model
         information.
        :type include_keys: bool
        :param callable cls: A custom type or function that will be passed the
         direct response
        :return: Model or the result of cls(response)
        :rtype: ~azure.cognitiveservices.formrecognizer.models.Model
        :raises:
         :class:`ErrorResponseException<azure.cognitiveservices.formrecognizer.models.ErrorResponseException>`
        """
        error_map = kwargs.pop('error_map', None)
        # Construct URL
        url = self.get_custom_model.metadata['url']
        path_format_arguments = {
            'endpoint': self._serialize.url("self._config.endpoint", self._config.endpoint, 'str', skip_quote=True),
            'modelId': self._serialize.url("model_id", model_id, 'str')
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        if include_keys is not None:
            query_parameters['includeKeys'] = self._serialize.query("include_keys", include_keys, 'bool')

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        if self._config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())

        # Construct and send request
        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise models.ErrorResponseException(response, self._deserialize)

        deserialized = None
        if response.status_code == 200:
            deserialized = self._deserialize('Model', response)

        if cls:
            return cls(response, deserialized, None)

        return deserialized
    get_custom_model.metadata = {'url': '/custom/models/{modelId}'}

    def delete_custom_model(self, model_id, cls=None, **kwargs):
        """Delete Custom Model.

        Mark model for deletion. Model artifacts will be permanently removed
        within a predetermined period.

        :param model_id: Model identifier.
        :type model_id: str
        :param callable cls: A custom type or function that will be passed the
         direct response
        :return: None or the result of cls(response)
        :rtype: None
        :raises:
         :class:`ErrorResponseException<azure.cognitiveservices.formrecognizer.models.ErrorResponseException>`
        """
        error_map = kwargs.pop('error_map', None)
        # Construct URL
        url = self.delete_custom_model.metadata['url']
        path_format_arguments = {
            'endpoint': self._serialize.url("self._config.endpoint", self._config.endpoint, 'str', skip_quote=True),
            'modelId': self._serialize.url("model_id", model_id, 'str')
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}

        # Construct headers
        header_parameters = {}
        if self._config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())

        # Construct and send request
        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise models.ErrorResponseException(response, self._deserialize)

        if cls:
            response_headers = {}
            return cls(response, None, response_headers)
    delete_custom_model.metadata = {'url': '/custom/models/{modelId}'}

    def analyze_with_custom_model(self, model_id, include_text_details=False, file_stream=None, cls=None, **kwargs):
        """Analyze Form.

        Extract key-value pairs, tables, and semantic values from a given
        document. The input document must be of one of the supported content
        types - 'application/pdf', 'image/jpeg', 'image/png' or 'image/tiff'.
        Alternatively, use 'application/json' type to specify the location (Uri
        or local path) of the document to be analyzed.

        :param model_id: Model identifier.
        :type model_id: str
        :param include_text_details: Include text lines and element references
         in the result.
        :type include_text_details: bool
        :param file_stream: .json, .pdf, .jpg, .png or .tiff type file stream.
        :type file_stream: object
        :param callable cls: A custom type or function that will be passed the
         direct response
        :return: None or the result of cls(response)
        :rtype: None
        :raises:
         :class:`ErrorResponseException<azure.cognitiveservices.formrecognizer.models.ErrorResponseException>`
        """
        error_map = kwargs.pop('error_map', None)
        # Construct URL
        url = self.analyze_with_custom_model.metadata['url']
        path_format_arguments = {
            'endpoint': self._serialize.url("self._config.endpoint", self._config.endpoint, 'str', skip_quote=True),
            'modelId': self._serialize.url("model_id", model_id, 'str')
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        if include_text_details is not None:
            query_parameters['includeTextDetails'] = self._serialize.query("include_text_details", include_text_details, 'bool')

        # Construct headers
        header_parameters = {}
        header_parameters['Content-Type'] = 'application/json; charset=utf-8'
        if self._config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())

        # Construct body
        if file_stream is not None:
            body_content = self._serialize.body(file_stream, 'object')
        else:
            body_content = None

        # Construct and send request
        request = self._client.post(url, query_parameters, header_parameters, body_content)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [202]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise models.ErrorResponseException(response, self._deserialize)

        if cls:
            response_headers = {
                'Operation-Location': self._deserialize('str', response.headers.get('Operation-Location')),
            }
            return cls(response, None, response_headers)
    analyze_with_custom_model.metadata = {'url': '/custom/models/{modelId}/analyze'}

    def get_analyze_form_result(self, model_id, result_id, cls=None, **kwargs):
        """Get Analyze Form Result.

        Obtain current status and the result of the analyze form operation.

        :param model_id: Model identifier.
        :type model_id: str
        :param result_id: Analyze operation result identifier.
        :type result_id: str
        :param callable cls: A custom type or function that will be passed the
         direct response
        :return: AnalyzeOperationResult or the result of cls(response)
        :rtype:
         ~azure.cognitiveservices.formrecognizer.models.AnalyzeOperationResult
        :raises:
         :class:`ErrorResponseException<azure.cognitiveservices.formrecognizer.models.ErrorResponseException>`
        """
        error_map = kwargs.pop('error_map', None)
        # Construct URL
        url = self.get_analyze_form_result.metadata['url']
        path_format_arguments = {
            'endpoint': self._serialize.url("self._config.endpoint", self._config.endpoint, 'str', skip_quote=True),
            'modelId': self._serialize.url("model_id", model_id, 'str'),
            'resultId': self._serialize.url("result_id", result_id, 'str')
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        if self._config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())

        # Construct and send request
        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise models.ErrorResponseException(response, self._deserialize)

        deserialized = None
        if response.status_code == 200:
            deserialized = self._deserialize('AnalyzeOperationResult', response)

        if cls:
            return cls(response, deserialized, None)

        return deserialized
    get_analyze_form_result.metadata = {'url': '/custom/models/{modelId}/analyzeResults/{resultId}'}

    def analyze_receipt_async(self, include_text_details=False, file_stream=None, cls=None, **kwargs):
        """Analyze Receipt.

        Extract field text and semantic values from a given receipt document.
        The input document must be of one of the supported content types -
        'application/pdf', 'image/jpeg', 'image/png' or 'image/tiff'.
        Alternatively, use 'application/json' type to specify the location (Uri
        or local path) of the document to be analyzed.

        :param include_text_details: Include text lines and element references
         in the result.
        :type include_text_details: bool
        :param file_stream: .json, .pdf, .jpg, .png or .tiff type file stream.
        :type file_stream: object
        :param callable cls: A custom type or function that will be passed the
         direct response
        :return: None or the result of cls(response)
        :rtype: None
        :raises:
         :class:`ErrorResponseException<azure.cognitiveservices.formrecognizer.models.ErrorResponseException>`
        """
        error_map = kwargs.pop('error_map', None)
        # Construct URL
        url = self.analyze_receipt_async.metadata['url']
        path_format_arguments = {
            'endpoint': self._serialize.url("self._config.endpoint", self._config.endpoint, 'str', skip_quote=True)
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        if include_text_details is not None:
            query_parameters['includeTextDetails'] = self._serialize.query("include_text_details", include_text_details, 'bool')

        # Construct headers
        header_parameters = {}
        header_parameters['Content-Type'] = 'application/json; charset=utf-8'
        if self._config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())

        # Construct body
        if file_stream is not None:
            body_content = self._serialize.body(file_stream, 'object')
        else:
            body_content = None

        # Construct and send request
        request = self._client.post(url, query_parameters, header_parameters, body_content)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [202]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise models.ErrorResponseException(response, self._deserialize)

        if cls:
            response_headers = {
                'Operation-Location': self._deserialize('str', response.headers.get('Operation-Location')),
            }
            return cls(response, None, response_headers)
    analyze_receipt_async.metadata = {'url': '/prebuilt/receipt/analyze'}

    def get_analyze_receipt_result(self, result_id, cls=None, **kwargs):
        """Get Analyze Receipt Result.

        Track the progress and obtain the result of the analyze receipt
        operation.

        :param result_id: Analyze operation result identifier.
        :type result_id: str
        :param callable cls: A custom type or function that will be passed the
         direct response
        :return: AnalyzeOperationResult or the result of cls(response)
        :rtype:
         ~azure.cognitiveservices.formrecognizer.models.AnalyzeOperationResult
        :raises:
         :class:`ErrorResponseException<azure.cognitiveservices.formrecognizer.models.ErrorResponseException>`
        """
        error_map = kwargs.pop('error_map', None)
        # Construct URL
        url = self.get_analyze_receipt_result.metadata['url']
        path_format_arguments = {
            'endpoint': self._serialize.url("self._config.endpoint", self._config.endpoint, 'str', skip_quote=True),
            'resultId': self._serialize.url("result_id", result_id, 'str')
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        if self._config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())

        # Construct and send request
        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise models.ErrorResponseException(response, self._deserialize)

        deserialized = None
        if response.status_code == 200:
            deserialized = self._deserialize('AnalyzeOperationResult', response)

        if cls:
            return cls(response, deserialized, None)

        return deserialized
    get_analyze_receipt_result.metadata = {'url': '/prebuilt/receipt/analyzeResults/{resultId}'}

    def analyze_layout_async(self, file_stream=None, cls=None, **kwargs):
        """Analyze Layout.

        Extract text and layout information from a given document. The input
        document must be of one of the supported content types -
        'application/pdf', 'image/jpeg', 'image/png' or 'image/tiff'.
        Alternatively, use 'application/json' type to specify the location (Uri
        or local path) of the document to be analyzed.

        :param file_stream: .json, .pdf, .jpg, .png or .tiff type file stream.
        :type file_stream: object
        :param callable cls: A custom type or function that will be passed the
         direct response
        :return: None or the result of cls(response)
        :rtype: None
        :raises:
         :class:`ErrorResponseException<azure.cognitiveservices.formrecognizer.models.ErrorResponseException>`
        """
        error_map = kwargs.pop('error_map', None)
        # Construct URL
        url = self.analyze_layout_async.metadata['url']
        path_format_arguments = {
            'endpoint': self._serialize.url("self._config.endpoint", self._config.endpoint, 'str', skip_quote=True)
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}

        # Construct headers
        header_parameters = {}
        header_parameters['Content-Type'] = 'application/json; charset=utf-8'
        if self._config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())

        # Construct body
        if file_stream is not None:
            body_content = self._serialize.body(file_stream, 'object')
        else:
            body_content = None

        # Construct and send request
        request = self._client.post(url, query_parameters, header_parameters, body_content)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [202]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise models.ErrorResponseException(response, self._deserialize)

        if cls:
            response_headers = {
                'Operation-Location': self._deserialize('str', response.headers.get('Operation-Location')),
            }
            return cls(response, None, response_headers)
    analyze_layout_async.metadata = {'url': '/layout/analyze'}

    def get_analyze_layout_result(self, result_id, cls=None, **kwargs):
        """Get Analyze Layout Result.

        Track the progress and obtain the result of the analyze layout
        operation.

        :param result_id: Analyze operation result identifier.
        :type result_id: str
        :param callable cls: A custom type or function that will be passed the
         direct response
        :return: AnalyzeOperationResult or the result of cls(response)
        :rtype:
         ~azure.cognitiveservices.formrecognizer.models.AnalyzeOperationResult
        :raises:
         :class:`ErrorResponseException<azure.cognitiveservices.formrecognizer.models.ErrorResponseException>`
        """
        error_map = kwargs.pop('error_map', None)
        # Construct URL
        url = self.get_analyze_layout_result.metadata['url']
        path_format_arguments = {
            'endpoint': self._serialize.url("self._config.endpoint", self._config.endpoint, 'str', skip_quote=True),
            'resultId': self._serialize.url("result_id", result_id, 'str')
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        if self._config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())

        # Construct and send request
        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise models.ErrorResponseException(response, self._deserialize)

        deserialized = None
        if response.status_code == 200:
            deserialized = self._deserialize('AnalyzeOperationResult', response)

        if cls:
            return cls(response, deserialized, None)

        return deserialized
    get_analyze_layout_result.metadata = {'url': '/layout/analyzeResults/{resultId}'}
