interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:59 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoraged3041389.blob.core.windows.net/containerd3041389?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74CFF487AD4C4"'
      last-modified:
      - Wed, 09 Oct 2019 21:26:01 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:26:00 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoraged3041389.blob.core.windows.net/?prefix=containerd3041389&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstoraged3041389.blob.core.windows.net/\"><Prefix>containerd3041389</Prefix><Containers><Container><Name>containerd3041389</Name><Properties><Last-Modified>Wed,
        09 Oct 2019 21:26:01 GMT</Last-Modified><Etag>\"0x8D74CFF487AD4C4\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
