interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 20:29:51 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageb4271745.blob.core.windows.net/utcontainerb4271745?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74DC09A975BCB"'
      last-modified: Thu, 10 Oct 2019 20:29:51 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageb4271745.blob.core.windows.net
        - /utcontainerb4271745
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 20:29:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageb4271745.blob.core.windows.net/utcontainersourceb4271745?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74DC09A9EFE50"'
      last-modified: Thu, 10 Oct 2019 20:29:51 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageb4271745.blob.core.windows.net
        - /utcontainersourceb4271745
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '8796093022209'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Thu, 10 Oct 2019 20:29:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageb4271745.blob.core.windows.net/utcontainerb4271745/blobb4271745
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The
        value for one of the HTTP headers is not in the correct format.\nRequestId:a90ada04-601e-0039-5ca9-7f4aae000000\nTime:2019-10-10T20:29:51.9855493Z</Message><HeaderName>x-ms-blob-content-length</HeaderName><HeaderValue>8796093022209</HeaderValue></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: InvalidHeaderValue
      x-ms-version: '2019-02-02'
    status:
      code: 400
      message: The value for one of the HTTP headers is not in the correct format.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageb4271745.blob.core.windows.net
        - /utcontainerb4271745/blobb4271745
        - ''
        - ''
version: 1
