interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:31 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage73941128.blob.core.windows.net/container73941128?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74CFF3766EA61"'
      last-modified:
      - Wed, 09 Oct 2019 21:25:32 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:31 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage73941128.blob.core.windows.net/container73941128/blob1
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D74CFF3773E99A"'
      last-modified:
      - Wed, 09 Oct 2019 21:25:32 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:32 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '-1'
      x-ms-proposed-lease-id:
      - 661709d9-9e01-4514-9e20-e3616e560ec0
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage73941128.blob.core.windows.net/container73941128/blob1?comp=lease
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74CFF3773E99A"'
      last-modified:
      - Wed, 09 Oct 2019 21:25:32 GMT
      x-ms-lease-id:
      - 661709d9-9e01-4514-9e20-e3616e560ec0
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:32 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage73941128.blob.core.windows.net/container73941128?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage73941128.blob.core.windows.net/\" ContainerName=\"container73941128\"><Blobs><Blob><Name>blob1</Name><Properties><Creation-Time>Wed,
        09 Oct 2019 21:25:32 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2019 21:25:32
        GMT</Last-Modified><Etag>0x8D74CFF3773E99A</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
