interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:26:08 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage4ef015fd.blob.core.windows.net/container4ef015fd?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74CFF4EBE0D70"'
      last-modified:
      - Wed, 09 Oct 2019 21:26:11 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 09 Oct 2019 21:26:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage4ef015fd.blob.core.windows.net/container4ef015fd/blob1
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D74CFF4ECAD9E7"'
      last-modified:
      - Wed, 09 Oct 2019 21:26:11 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:26:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage4ef015fd.blob.core.windows.net/container4ef015fd/blob1?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74CFF4ECAD9E7"'
      last-modified:
      - Wed, 09 Oct 2019 21:26:11 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-snapshot:
      - '2019-10-09T21:26:11.9603684Z'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:26:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage4ef015fd.blob.core.windows.net/container4ef015fd?include=snapshots&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage4ef015fd.blob.core.windows.net/\" ContainerName=\"container4ef015fd\"><Blobs><Blob><Name>blob1</Name><Snapshot>2019-10-09T21:26:11.9603684Z</Snapshot><Properties><Creation-Time>Wed,
        09 Oct 2019 21:26:11 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2019 21:26:11
        GMT</Last-Modified><Etag>0x8D74CFF4ECAD9E7</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties></Blob><Blob><Name>blob1</Name><Properties><Creation-Time>Wed,
        09 Oct 2019 21:26:11 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2019 21:26:11
        GMT</Last-Modified><Etag>0x8D74CFF4ECAD9E7</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties></Blob><Blob><Name>blob2</Name><Properties><Creation-Time>Wed,
        09 Oct 2019 21:26:12 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2019 21:26:12
        GMT</Last-Modified><Etag>0x8D74CFF4EECE72B</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
