interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:15 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageea7c1cac.blob.core.windows.net/listcontainer0ea7c1cac?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74D0D91A8DA68"'
      last-modified: Wed, 09 Oct 2019 23:08:16 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageea7c1cac.blob.core.windows.net
        - /listcontainer0ea7c1cac
        - restype=container
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorageea7c1cac.blob.core.windows.net/?prefix=listcontainer&maxresults=2&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorageea7c1cac.blob.core.windows.net/\"><Prefix>listcontainer</Prefix><MaxResults>2</MaxResults><Containers><Container><Name>listcontainer0ea7c1cac</Name><Properties><Last-Modified>Wed,
        09 Oct 2019 23:08:16 GMT</Last-Modified><Etag>\"0x8D74D0D91A8DA68\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>listcontainer1ea7c1cac</Name><Properties><Last-Modified>Wed,
        09 Oct 2019 23:08:17 GMT</Last-Modified><Etag>\"0x8D74D0D91B02ED5\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker>/pyacrstorageea7c1cac/listcontainer2ea7c1cac</NextMarker></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageea7c1cac.blob.core.windows.net
        - /
        - prefix=listcontainer&maxresults=2&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorageea7c1cac.blob.core.windows.net/?prefix=listcontainer&marker=/pyacrstorageea7c1cac/listcontainer2ea7c1cac&maxresults=2&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorageea7c1cac.blob.core.windows.net/\"><Prefix>listcontainer</Prefix><Marker>/pyacrstorageea7c1cac/listcontainer2ea7c1cac</Marker><MaxResults>2</MaxResults><Containers><Container><Name>listcontainer2ea7c1cac</Name><Properties><Last-Modified>Wed,
        09 Oct 2019 23:08:17 GMT</Last-Modified><Etag>\"0x8D74D0D91B7AA51\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilit[...]
