interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:31 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageab171296.blob.core.windows.net/containerab171296?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74CFF381C885B"'
      last-modified:
      - Wed, 09 Oct 2019 21:25:33 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:33 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageab171296.blob.core.windows.net/containerab171296/a%2Fblob1
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D74CFF382CDACA"'
      last-modified:
      - Wed, 09 Oct 2019 21:25:33 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:33 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageab171296.blob.core.windows.net/containerab171296/b%2Fblob3
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D74CFF38434D12"'
      last-modified:
      - Wed, 09 Oct 2019 21:25:34 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:33 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageab171296.blob.core.windows.net/containerab171296/blob4
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D74CFF385095EF"'
      last-modified:
      - Wed, 09 Oct 2019 21:25:34 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:33 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorageab171296.blob.core.windows.net/containerab171296?delimiter=%2F&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorageab171296.blob.core.windows.net/\" ContainerName=\"containerab171296\"><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>a/</Name></BlobPrefix><BlobPrefix><Name>b/</Name></BlobPrefix><Blob><Name>blob4</Name><Properties><Creation-Time>Wed,
        09 Oct 2019 21:25:34 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2019 21:25:34
        GMT</Last-Modified><Etag>0x8D74CFF385095EF</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
