interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage50ac1615.blob.core.windows.net/container50ac1615?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74D0D8D4F14C1"'
      last-modified: Wed, 09 Oct 2019 23:08:09 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage50ac1615.blob.core.windows.net
        - /container50ac1615
        - restype=container
        - ''
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:09 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage50ac1615.blob.core.windows.net/container50ac1615/blob_a1
  response:
    body:
      string: ''
    headers:
      content-md5: XrY7u+Ae7tCTyyK7j1rNww==
      etag: '"0x8D74D0D8D58EE7A"'
      last-modified: Wed, 09 Oct 2019 23:08:09 GMT
      x-ms-content-crc64: vo7q9sPVKY0=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage50ac1615.blob.core.windows.net
        - /container50ac1615/blob_a1
        - ''
        - ''
[...]
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:09 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage50ac1615.blob.core.windows.net/container50ac1615/blob_b1
  response:
    body:
      string: ''
    headers:
      content-md5: XrY7u+Ae7tCTyyK7j1rNww==
      etag: '"0x8D74D0D8D73CE54"'
      last-modified: Wed, 09 Oct 2019 23:08:09 GMT
      x-ms-content-crc64: vo7q9sPVKY0=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage50ac1615.blob.core.windows.net
        - /container50ac1615/blob_b1
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:09 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage50ac1615.blob.core.windows.net/container50ac1615?maxresults=2&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage50ac1615.blob.core.windows.net/\" ContainerName=\"container50ac1615\"><MaxResults>2</MaxResults><Blobs><Blob><Name>blob_a1</Name><Properties><Creation-Time>Wed,
        09 Oct 2019 23:08:09 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2019 23:08:09
        GMT</Last-Modified><Etag>0x8D74D0D8D58EE7A</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob_a2</Name><Properties><Creation-Time>Wed,
        09 Oct 2019 23:08:09 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2019 23:08:09
        GMT</Last-Modified><Etag>0x8D74D0D8D62DB59</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker>2!68!MDAwMDA3IWJsb2JfYTMhMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVoh</NextMarker></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage50ac1615.blob.core.windows.net
        - /container50ac1615
        - maxresults=2&restype=container&comp=list
        - ''
version: 1
