interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage75091165.blob.core.windows.net/container75091165?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74CFF4594D3AA"'
      last-modified:
      - Wed, 09 Oct 2019 21:25:56 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:55 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage75091165.blob.core.windows.net/container75091165/blob_a1
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D74CFF45A3755A"'
      last-modified:
      - Wed, 09 Oct 2019 21:25:56 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:56 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage75091165.blob.core.windows.net/container75091165/blob_b1
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D74CFF45CBEEC2"'
      last-modified:
      - Wed, 09 Oct 2019 21:25:56 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:56 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage75091165.blob.core.windows.net/container75091165?prefix=blob_a&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage75091165.blob.core.windows.net/\" ContainerName=\"container75091165\"><Prefix>blob_a</Prefix><Blobs><Blob><Name>blob_a1</Name><Properties><Creation-Time>Wed,
        09 Oct 2019 21:25:56 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2019 21:25:56
        GMT</Last-Modified><Etag>0x8D74CFF45A3755A</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob_a2</Name><Properties><Creation-Time>Wed,
        09 Oct 2019 21:25:56 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2019 21:25:56
        GMT</Last-Modified><Etag>0x8D74CFF45BEA517</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
