interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:53:17 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageecab188b.blob.core.windows.net/utcontainerecab188b?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74D13DC83AAB9"'
      last-modified:
      - Wed, 09 Oct 2019 23:53:19 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: AAA
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 09 Oct 2019 23:53:19 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageecab188b.blob.core.windows.net/utcontainerecab188b/blobecab188b?blockid=MQ%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - Cc/2Kr4DuKg=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: BBB
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 09 Oct 2019 23:53:19 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageecab188b.blob.core.windows.net/utcontainerecab188b/blobecab188b?blockid=Mg%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - +3yuPEA7IqE=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: CCC
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 09 Oct 2019 23:53:19 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageecab188b.blob.core.windows.net/utcontainerecab188b/blobecab188b?blockid=Mw%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - VRJmMeosVKY=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-access-tier:
      - Cool
      x-ms-date:
      - Wed, 09 Oct 2019 23:53:19 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageecab188b.blob.core.windows.net/utcontainerecab188b/blobecab188b?comp=blocklist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAccessTierNotSupportedForAccountType</Code><Message>Blob
        access tier is not supported on this storage account type.\nRequestId:f8c74c17-301e-0008-21fc-7e1179000000\nTime:2019-10-09T23:53:19.7359639Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - BlobAccessTierNotSupportedForAccountType
      x-ms-version:
      - '2019-02-02'
    status:
      code: 400
      message: Blob access tier is not supported on this storage account type.
version: 1
