interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:30 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage51171606.blob.core.windows.net/container51171606?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74D0D9A53C0B9"'
      last-modified: Wed, 09 Oct 2019 23:08:31 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage51171606.blob.core.windows.net
        - /container51171606
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:30 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage51171606.blob.core.windows.net/?prefix=container51171606&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage51171606.blob.core.windows.net/\"><Prefix>container51171606</Prefix><Containers><Container><Name>container51171606</Name><Properties><Last-Modified>Wed,
        09 Oct 2019 23:08:31 GMT</Last-Modified><Etag>\"0x8D74D0D9A53C0B9\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage51171606.blob.core.windows.net
        - /
        - prefix=container51171606&comp=list
        - ''
version: 1
