interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:15:13 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee2c913ba.blob.core.windows.net/utcontainere2c913ba?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74CFDC702F544"'
      last-modified: Wed, 09 Oct 2019 21:15:14 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee2c913ba.blob.core.windows.net
        - /utcontainere2c913ba
        - restype=container
        - ''
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 09 Oct 2019 21:15:13 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee2c913ba.blob.core.windows.net/utcontainere2c913ba/cpke2c913ba
  response:
    body:
      string: ''
    headers:
      content-md5: 1B2M2Y8AsgTpgAmY7PhCfg==
      etag: '"0x8D74CFDC70EC320"'
      last-modified: Wed, 09 Oct 2019 21:15:14 GMT
      x-ms-content-crc64: AAAAAAAAAAA=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee2c913ba.blob.core.windows.net
        - /utcontainere2c913ba/cpke2c913ba
        - ''
        - ''
- request:
    body: AAA
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 09 Oct 2019 21:15:13 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-encryption-key:
      - MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=
      x-ms-encryption-key-sha256:
      - 3QFFFpRA5+XANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee2c913ba.blob.core.windows.net/utcontainere2c913ba/cpke2c913ba?blockid=MQ%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64: Cc/2Kr4DuKg=
      x-ms-encryption-key-sha256: 3QFFFpRA5+XANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee2c913ba.blob.core.windows.net
        - /utcontainere2c913ba/cpke2c913ba
        - blockid=MQ%3D%3D&comp=block
        - ''
- request:
    body: BBB
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 09 Oct 2019 21:15:14 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-encryption-key:
      - MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=
      x-ms-encryption-key-sha256:
      - 3QFFFpRA5+XANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee2c913ba.blob.core.windows.net/utcontainere2c913ba/cpke2c913ba?blockid=Mg%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64: +3yuPEA7IqE=
      x-ms-encryption-key-sha256: 3QFFFpRA5+XANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee2c913ba.blob.core.windows.net
        - /utcontainere2c913ba/cpke2c913ba
        - blockid=Mg%3D%3D&comp=block
        - ''
- request:
    body: CCC
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 09 Oct 2019 21:15:14 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-encryption-key:
      - MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=
      x-ms-encryption-key-sha256:
      - 3QFFFpRA5+XANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee2c913ba.blob.core.windows.net/utcontainere2c913ba/cpke2c913ba?blockid=Mw%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64: VRJmMeosVKY=
      x-ms-encryption-key-sha256: 3QFFFpRA5+XANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee2c913ba.blob.core.windows.net
        - /utcontainere2c913ba/cpke2c913ba
        - blockid=Mw%3D%3D&comp=block
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 09 Oct 2019 21:15:14 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-encryption-key:
      - MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=
      x-ms-encryption-key-sha256:
      - 3QFFFpRA5+XANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee2c913ba.blob.core.windows.net/utcontainere2c913ba/cpke2c913ba?comp=blocklist
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74CFDC727F501"'
      last-modified: Wed, 09 Oct 2019 21:15:14 GMT
      x-ms-content-crc64: dAoQ5rLgKr0=
      x-ms-encryption-key-sha256: 3QFFFpRA5+XANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee2c913ba.blob.core.windows.net
        - /utcontainere2c913ba/cpke2c913ba
        - comp=blocklist
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:15:14 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragee2c913ba.blob.core.windows.net/utcontainere2c913ba/cpke2c913ba
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobUsesCustomerSpecifiedEncryption</Code><Message>The
        blob is encrypted with customer specified encryption, but it was not provided
        in the request.\nRequestId:f6def730-a01e-002f-28e6-7e8b30000000\nTime:2019-10-09T21:15:14.8393284Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: BlobUsesCustomerSpecifiedEncryption
      x-ms-version: '2019-02-02'
    status:
      code: 409
      message: The blob is encrypted with customer specified encryption, but it was
        not provided in the request.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee2c913ba.blob.core.windows.net
        - /utcontainere2c913ba/cpke2c913ba
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:15:14 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-encryption-key:
      - MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=
      x-ms-encryption-key-sha256:
      - 3QFFFpRA5+XANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragee2c913ba.blob.core.windows.net/utcontainere2c913ba/cpke2c913ba
  response:
    body:
      string: AAABBBCCC
    headers:
      content-range: bytes 0-8/9
      content-type: application/octet-stream
      etag: '"0x8D74CFDC727F501"'
      last-modified: Wed, 09 Oct 2019 21:15:14 GMT
      x-ms-blob-type: BlockBlob
      x-ms-creation-time: Wed, 09 Oct 2019 21:15:14 GMT
      x-ms-encryption-key-sha256: 3QFFFpRA5+XANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 206
      message: Partial Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee2c913ba.blob.core.windows.net
        - /utcontainere2c913ba/cpke2c913ba
        - ''
        - ''
version: 1
