interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 20:28:59 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage6e171111.blob.core.windows.net/utcontainer6e171111?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74DC07B7A3F11"'
      last-modified:
      - Thu, 10 Oct 2019 20:28:59 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 20:28:59 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage6e171111.blob.core.windows.net/utcontainersource6e171111?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74DC07B890EF0"'
      last-modified:
      - Thu, 10 Oct 2019 20:28:59 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 20:28:59 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage6e171111.blob.core.windows.net/utpremiumcontainer6e171111?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74DC07BB731E6"'
      last-modified:
      - Thu, 10 Oct 2019 20:29:00 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '1024'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Thu, 10 Oct 2019 20:29:00 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage6e171111.blob.core.windows.net/utpremiumcontainer6e171111/blob6e171111
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74DC07BC54E67"'
      last-modified:
      - Thu, 10 Oct 2019 20:29:00 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 20:29:00 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://pyacrstorage6e171111.blob.core.windows.net/utpremiumcontainer6e171111/blob6e171111
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D74DC07BC54E67"'
      last-modified:
      - Thu, 10 Oct 2019 20:29:00 GMT
      x-ms-access-tier:
      - P10
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-sequence-number:
      - '0'
      x-ms-blob-type:
      - PageBlob
      x-ms-creation-time:
      - Thu, 10 Oct 2019 20:29:00 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 20:29:00 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage6e171111.blob.core.windows.net/utpremiumcontainer6e171111?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage6e171111.blob.core.windows.net/\" ContainerName=\"utpremiumcontainer6e171111\"><Blobs><Blob><Name>blob6e171111</Name><Properties><Creation-Time>Thu,
        10 Oct 2019 20:29:00 GMT</Creation-Time><Last-Modified>Thu, 10 Oct 2019 20:29:00
        GMT</Last-Modified><Etag>0x8D74DC07BC54E67</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding/><Content-Language/><Content-MD5/><Cache-Control/><Content-Disposition/><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><AccessTier>P10</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker/></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-access-tier:
      - P50
      x-ms-date:
      - Thu, 10 Oct 2019 20:29:00 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage6e171111.blob.core.windows.net/utpremiumcontainer6e171111/blob6e171111?comp=tier
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 20:29:00 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://pyacrstorage6e171111.blob.core.windows.net/utpremiumcontainer6e171111?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
version: 1
