interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:26:36 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage573d1a44.blob.core.windows.net/container573d1a44?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74CFF5E797CB5"'
      last-modified:
      - Wed, 09 Oct 2019 21:26:38 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-10-09T21:26:37Z</Start><Expiry>2019-10-09T22:26:37Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 09 Oct 2019 21:26:37 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage573d1a44.blob.core.windows.net/container573d1a44?restype=container&comp=acl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74CFF5E847B1E"'
      last-modified:
      - Wed, 09 Oct 2019 21:26:38 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
