interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:48 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee54813d5.blob.core.windows.net/containere54813d5?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74CFF41F7A4A9"'
      last-modified:
      - Wed, 09 Oct 2019 21:25:50 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:49 GMT
      x-ms-meta-status:
      - original
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee54813d5.blob.core.windows.net/containere54813d5/blob1
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D74CFF42096ACA"'
      last-modified:
      - Wed, 09 Oct 2019 21:25:50 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://pyacrstoragee54813d5.blob.core.windows.net/containere54813d5/blob1
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:49 GMT
      x-ms-meta-status:
      - copy
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee54813d5.blob.core.windows.net/containere54813d5/blob1copy
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74CFF421701CF"'
      last-modified:
      - Wed, 09 Oct 2019 21:25:50 GMT
      x-ms-copy-id:
      - e7a74559-1327-47f9-ab44-f44521932a88
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:49 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragee54813d5.blob.core.windows.net/containere54813d5?include=copy&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstoragee54813d5.blob.core.windows.net/\" ContainerName=\"containere54813d5\"><Blobs><Blob><Name>blob1</Name><Properties><Creation-Time>Wed,
        09 Oct 2019 21:25:50 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2019 21:25:50
        GMT</Last-Modified><Etag>0x8D74CFF42096ACA</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob1copy</Name><Properties><Creation-Time>Wed,
        09 Oct 2019 21:25:50 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2019 21:25:50
        GMT</Last-Modified><Etag>0x8D74CFF421701CF</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><CopyId>e7a74559-1327-47f9-ab44-f44521932a88</CopyId><CopySource>https://pyacrstoragee54813d5.blob.core.windows.net/containere54813d5/blob1</CopySource><CopyStatus>success</CopyStatus><CopyProgress>11/11</CopyProgress><CopyCompletionTime>Wed,
        09 Oct 2019 21:25:50 GMT</CopyCompletionTime><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
