interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><StaticWebsite><Enabled>false</Enabled></StaticWebsite></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 09 Oct 2019 19:05:09 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage7b741ea2.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>StaticWebsiteNotSupportedByAccountType</Code><Message>Static
        website is not supported by this account type.\nRequestId:0a90edc3-501e-003a-76d4-7ea7ab000000\nTime:2019-10-09T19:05:10.6718948Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: StaticWebsiteNotSupportedByAccountType
      x-ms-version: '2019-02-02'
    status:
      code: 400
      message: Static website is not supported by this account type.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7b741ea2.blob.core.windows.net
        - /
        - restype=service&comp=properties
        - ''
version: 1
