interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:07:45 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee52713a5.blob.core.windows.net/containere52713a5?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74D0D7FDA7467"'
      last-modified: Wed, 09 Oct 2019 23:07:47 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee52713a5.blob.core.windows.net
        - /containere52713a5
        - restype=container
        - ''
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 09 Oct 2019 23:07:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee52713a5.blob.core.windows.net/containere52713a5/blob1
  response:
    body:
      string: ''
    headers:
      content-md5: XrY7u+Ae7tCTyyK7j1rNww==
      etag: '"0x8D74D0D7FE18A4E"'
      last-modified: Wed, 09 Oct 2019 23:07:47 GMT
      x-ms-content-crc64: vo7q9sPVKY0=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee52713a5.blob.core.windows.net
        - /containere52713a5/blob1
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:07:46 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '-1'
      x-ms-proposed-lease-id:
      - 275e6bb7-22f2-4589-b042-08761ae34aea
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee52713a5.blob.core.windows.net/containere52713a5/blob1?comp=lease
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74D0D7FE18A4E"'
      last-modified: Wed, 09 Oct 2019 23:07:47 GMT
      x-ms-lease-id: 275e6bb7-22f2-4589-b042-08761ae34aea
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee52713a5.blob.core.windows.net
        - /containere52713a5/blob1
        - comp=lease
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:07:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragee52713a5.blob.core.windows.net/containere52713a5?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstoragee52713a5.blob.core.windows.net/\" ContainerName=\"containere52713a5\"><Blobs><Blob><Name>blob1</Name><Properties><Creation-Time>Wed,
        09 Oct 2019 23:07:47 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2019 23:07:47
        GMT</Last-Modified><Etag>0x8D74D0D7FE18A4E</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee52713a5.blob.core.windows.net
        - /containere52713a5
        - restype=container&comp=list
        - ''
version: 1
