interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:31 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragec01c0c5d.blob.core.windows.net/containerc01c0c5d?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74CFF378F1725"'
      last-modified:
      - Wed, 09 Oct 2019 21:25:32 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:32 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragec01c0c5d.blob.core.windows.net/containerc01c0c5d/blob1
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D74CFF379B10FE"'
      last-modified:
      - Wed, 09 Oct 2019 21:25:32 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:25:32 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragec01c0c5d.blob.core.windows.net/containerc01c0c5d?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstoragec01c0c5d.blob.core.windows.net/\" ContainerName=\"containerc01c0c5d\"><Blobs><Blob><Name>blob1</Name><Properties><Creation-Time>Wed,
        09 Oct 2019 21:25:32 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2019 21:25:32
        GMT</Last-Modified><Etag>0x8D74CFF379B10FE</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob2</Name><Properties><Creation-Time>Wed,
        09 Oct 2019 21:25:33 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2019 21:25:33
        GMT</Last-Modified><Etag>0x8D74CFF37A60F83</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
