interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageaab11b93.blob.core.windows.net/containeraab11b93?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74D0DA7CCB3D6"'
      last-modified: Wed, 09 Oct 2019 23:08:54 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageaab11b93.blob.core.windows.net
        - /containeraab11b93
        - restype=container
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-10-09T23:07:53Z</Start><Expiry>2019-10-10T00:08:53Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:53 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageaab11b93.blob.core.windows.net/containeraab11b93?restype=container&comp=acl
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74D0DA7D330B0"'
      last-modified: Wed, 09 Oct 2019 23:08:54 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageaab11b93.blob.core.windows.net
        - /containeraab11b93
        - restype=container&comp=acl
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:53 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorageaab11b93.blob.core.windows.net/containeraab11b93?restype=container&comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-10-09T23:07:53.0000000Z</Start><Expiry>2019-10-10T00:08:53.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      content-type: application/xml
      etag: '"0x8D74D0DA7D330B0"'
      last-modified: Wed, 09 Oct 2019 23:08:54 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageaab11b93.blob.core.windows.net
        - /containeraab11b93
        - restype=container&comp=acl
        - ''
version: 1
