interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 08 Oct 2019 22:23:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageb4271745.blob.core.windows.net/utcontainerb4271745?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74C3E34D906EC"'
      last-modified: Tue, 08 Oct 2019 22:23:55 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageb4271745.blob.core.windows.net
        - /utcontainerb4271745
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '8796093022209'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Tue, 08 Oct 2019 22:23:55 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageb4271745.blob.core.windows.net/utcontainerb4271745/blobb4271745
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The
        value for one of the HTTP headers is not in the correct format.\nRequestId:23d16e09-c01e-00db-1227-7e0c1d000000\nTime:2019-10-08T22:23:55.4996498Z</Message><HeaderName>x-ms-blob-content-length</HeaderName><HeaderValue>8796093022209</HeaderValue></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: InvalidHeaderValue
      x-ms-version: '2019-02-02'
    status:
      code: 400
      message: The value for one of the HTTP headers is not in the correct format.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageb4271745.blob.core.windows.net
        - /utcontainerb4271745/blobb4271745
        - ''
        - ''
version: 1
