interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:08 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage42a919fc.blob.core.windows.net/container42a919fc?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74D0D8D6E30D2"'
      last-modified: Wed, 09 Oct 2019 23:08:09 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage42a919fc.blob.core.windows.net
        - /container42a919fc
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:09 GMT
      x-ms-meta-hello:
      - world
      x-ms-meta-number:
      - '42'
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage42a919fc.blob.core.windows.net/container42a919fc?restype=container&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74D0D8D7791E6"'
      last-modified: Wed, 09 Oct 2019 23:08:09 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage42a919fc.blob.core.windows.net
        - /container42a919fc
        - restype=container&comp=metadata
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:09 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage42a919fc.blob.core.windows.net/?prefix=container42a919fc&include=metadata&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage42a919fc.blob.core.windows.net/\"><Prefix>container42a919fc</Prefix><Containers><Container><Name>container42a919fc</Name><Properties><Last-Modified>Wed,
        09 Oct 2019 23:08:09 GMT</Last-Modified><Etag>\"0x8D74D0D8D7791E6\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties><Metadata><hello>world</hello><number>42</number></Metadata></Container></Containers><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage42a919fc.blob.core.windows.net
        - /
        - prefix=container42a919fc&include=metadata&comp=list
        - ''
version: 1
