interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:37:09 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage30740f8f.blob.core.windows.net/utcontainer30740f8f?timeout=5&restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74D119B25EB9C"'
      last-modified:
      - Wed, 09 Oct 2019 23:37:10 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:37:10 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage30740f8f.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors
        /><DeleteRetentionPolicy><Enabled>false</Enabled></DeleteRetentionPolicy></StorageServiceProperties>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:37:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage30740f8f.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidAuthenticationInfo</Code><Message>Authentication
        information is not given in the correct format. Check the value of Authorization
        header.\nRequestId:9367dacd-b01e-0066-64fa-7e346d000000\nTime:2019-10-09T23:37:12.5023727Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - InvalidAuthenticationInfo
    status:
      code: 400
      message: Authentication information is not given in the correct format. Check
        the value of Authorization header.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:37:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage30740f8f.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors
        /><DeleteRetentionPolicy><Enabled>false</Enabled></DeleteRetentionPolicy></StorageServiceProperties>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
