interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 08 Oct 2019 21:39:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage8e8211a2.blob.core.windows.net/utcontainer8e8211a2?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74C37F159957F"'
      last-modified:
      - Tue, 08 Oct 2019 21:39:05 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      If-None-Match:
      - '*'
      x-ms-blob-content-length:
      - '0'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Tue, 08 Oct 2019 21:39:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage8e8211a2.blob.core.windows.net/utcontainer8e8211a2/blob8e8211a2
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74C37F16AAF11"'
      last-modified:
      - Tue, 08 Oct 2019 21:39:05 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 08 Oct 2019 21:39:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://pyacrstorage8e8211a2.blob.core.windows.net/utcontainer8e8211a2/blob8e8211a2
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D74C37F16AAF11"'
      last-modified:
      - Tue, 08 Oct 2019 21:39:05 GMT
      x-ms-blob-sequence-number:
      - '0'
      x-ms-blob-type:
      - PageBlob
      x-ms-creation-time:
      - Tue, 08 Oct 2019 21:39:05 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 08 Oct 2019 21:39:05 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage8e8211a2.blob.core.windows.net/utcontainer8e8211a2/blob8e8211a2
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidRange</Code><Message>The
        range specified is invalid for the current size of the resource.\nRequestId:478734fb-e01e-0133-3820-7e2f0e000000\nTime:2019-10-08T21:39:05.5269637Z</Message></Error>"
    headers:
      content-range:
      - bytes */0
      content-type:
      - application/xml
      x-ms-error-code:
      - InvalidRange
      x-ms-version:
      - '2019-02-02'
    status:
      code: 416
      message: The range specified is invalid for the current size of the resource.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 08 Oct 2019 21:39:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage8e8211a2.blob.core.windows.net/utcontainer8e8211a2/blob8e8211a2?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList />"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D74C37F16AAF11"'
      last-modified:
      - Tue, 08 Oct 2019 21:39:05 GMT
      x-ms-blob-content-length:
      - '0'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
