interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:26:39 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage9d71916.blob.core.windows.net/container9d71916?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74CFF6067D06C"'
      last-modified:
      - Wed, 09 Oct 2019 21:26:41 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-10-09T21:25:40Z</Start><Expiry>2019-10-09T22:26:40Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 09 Oct 2019 21:26:40 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage9d71916.blob.core.windows.net/container9d71916?restype=container&comp=acl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74CFF6075D01F"'
      last-modified:
      - Wed, 09 Oct 2019 21:26:41 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 21:26:40 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage9d71916.blob.core.windows.net/container9d71916?restype=container&comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-10-09T21:25:40.0000000Z</Start><Expiry>2019-10-09T22:26:40.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D74CFF6075D01F"'
      last-modified:
      - Wed, 09 Oct 2019 21:26:41 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
