interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 20:28:53 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage42e141f.blob.core.windows.net/utcontainer42e141f?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74DC0791F03B8"'
      last-modified: Thu, 10 Oct 2019 20:28:55 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage42e141f.blob.core.windows.net
        - /utcontainer42e141f
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 20:28:55 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage42e141f.blob.core.windows.net/utcontainersource42e141f?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74DC07926A621"'
      last-modified: Thu, 10 Oct 2019 20:28:55 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage42e141f.blob.core.windows.net
        - /utcontainersource42e141f
        - restype=container
        - ''
- request:
    body: null
    headers:
      If-None-Match:
      - '*'
      x-ms-blob-content-length:
      - '0'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Thu, 10 Oct 2019 20:28:55 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage42e141f.blob.core.windows.net/utcontainer42e141f/blob42e141f
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74DC0792DF25C"'
      last-modified: Thu, 10 Oct 2019 20:28:55 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage42e141f.blob.core.windows.net
        - /utcontainer42e141f/blob42e141f
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 20:28:55 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://pyacrstorage42e141f.blob.core.windows.net/utcontainer42e141f/blob42e141f
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8D74DC0792DF25C"'
      last-modified: Thu, 10 Oct 2019 20:28:55 GMT
      x-ms-blob-sequence-number: '0'
      x-ms-blob-type: PageBlob
      x-ms-creation-time: Thu, 10 Oct 2019 20:28:55 GMT
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage42e141f.blob.core.windows.net
        - /utcontainer42e141f/blob42e141f
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 20:28:56 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage42e141f.blob.core.windows.net/utcontainer42e141f/blob42e141f
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidRange</Code><Message>The
        range specified is invalid for the current size of the resource.\nRequestId:fa1f956d-a01e-0065-7fa9-7f40f2000000\nTime:2019-10-10T20:28:55.9050947Z</Message></Error>"
    headers:
      content-range: bytes */0
      content-type: application/xml
      x-ms-error-code: InvalidRange
      x-ms-version: '2019-02-02'
    status:
      code: 416
      message: The range specified is invalid for the current size of the resource.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage42e141f.blob.core.windows.net
        - /utcontainer42e141f/blob42e141f
        - ''
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 20:28:56 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage42e141f.blob.core.windows.net/utcontainer42e141f/blob42e141f?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList />"
    headers:
      content-type: application/xml
      etag: '"0x8D74DC0792DF25C"'
      last-modified: Thu, 10 Oct 2019 20:28:55 GMT
      x-ms-blob-content-length: '0'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage42e141f.blob.core.windows.net
        - /utcontainer42e141f/blob42e141f
        - comp=pagelist
        - ''
version: 1
