interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:55 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage8f8b1b31.blob.core.windows.net/container8f8b1b31?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74D0DA9E82BB6"'
      last-modified: Wed, 09 Oct 2019 23:08:57 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage8f8b1b31.blob.core.windows.net
        - /container8f8b1b31
        - restype=container
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>0</Id><AccessPolicy><Start>2019-10-09T23:07:57Z</Start><Expiry>2019-10-10T00:08:57Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>1</Id><AccessPolicy><Start>2019-10-09T23:07:57Z</Start><Expiry>2019-10-10T00:08:57Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:57 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage8f8b1b31.blob.core.windows.net/container8f8b1b31?restype=container&comp=acl
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74D0DA9EE0ECE"'
      last-modified: Wed, 09 Oct 2019 23:08:57 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage8f8b1b31.blob.core.windows.net
        - /container8f8b1b31
        - restype=container&comp=acl
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:57 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage8f8b1b31.blob.core.windows.net/container8f8b1b31?restype=container&comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>0</Id><AccessPolicy><Start>2019-10-09T23:07:57.0000000Z</Start><Expiry>2019-10-10T00:08:57.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>1</Id><AccessPolicy><Start>2019-10-09T23:07:57.0000000Z</Start><Expiry>2019-10-10T00:08:57.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      content-type: application/xml
      etag: '"0x8D74D0DA9EE0ECE"'
      last-modified: Wed, 09 Oct 2019 23:08:57 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage8f8b1b31.blob.core.windows.net
        - /container8f8b1b31
        - restype=container&comp=acl
        - ''
version: 1
