interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:30 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageff8e1cc1.blob.core.windows.net/containerff8e1cc1?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74D0D9B046809"'
      last-modified: Wed, 09 Oct 2019 23:08:32 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageff8e1cc1.blob.core.windows.net
        - /containerff8e1cc1
        - restype=container
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-10-09T23:08:32Z</Start><Expiry>2019-10-10T00:08:32Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:32 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageff8e1cc1.blob.core.windows.net/containerff8e1cc1?restype=container&comp=acl
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74D0D9B0A3D62"'
      last-modified: Wed, 09 Oct 2019 23:08:32 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageff8e1cc1.blob.core.windows.net
        - /containerff8e1cc1
        - restype=container&comp=acl
        - ''
version: 1
