interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><StaticWebsite><Enabled>true</Enabled></StaticWebsite></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 09 Oct 2019 19:05:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage7fc41ea4.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>StaticWebsiteNotSupportedByAccountType</Code><Message>Static
        website is not supported by this account type.\nRequestId:f89a2d07-c01e-00d0-1ad4-7e1469000000\nTime:2019-10-09T19:05:55.5188402Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: StaticWebsiteNotSupportedByAccountType
      x-ms-version: '2019-02-02'
    status:
      code: 400
      message: Static website is not supported by this account type.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7fc41ea4.blob.core.windows.net
        - /
        - restype=service&comp=properties
        - ''
version: 1
