interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:30 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage13f20edc.blob.core.windows.net/container13f20edc?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74D0D9A780493"'
      last-modified: Wed, 09 Oct 2019 23:08:31 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage13f20edc.blob.core.windows.net
        - /container13f20edc
        - restype=container
        - ''
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:31 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage13f20edc.blob.core.windows.net/container13f20edc/blob1
  response:
    body:
      string: ''
    headers:
      content-md5: XrY7u+Ae7tCTyyK7j1rNww==
      etag: '"0x8D74D0D9A810BC3"'
      last-modified: Wed, 09 Oct 2019 23:08:31 GMT
      x-ms-content-crc64: vo7q9sPVKY0=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage13f20edc.blob.core.windows.net
        - /container13f20edc/blob1
        - ''
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 23:08:31 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage13f20edc.blob.core.windows.net/container13f20edc?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage13f20edc.blob.core.windows.net/\" ContainerName=\"container13f20edc\"><Blobs><Blob><Name>blob1</Name><Properties><Creation-Time>Wed,
        09 Oct 2019 23:08:31 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2019 23:08:31
        GMT</Last-Modified><Etag>0x8D74D0D9A810BC3</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob2</Name><Properties><Creation-Time>Wed,
        09 Oct 2019 23:08:31 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2019 23:08:31
        GMT</Last-Modified><Etag>0x8D74D0D9A886011</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage13f20edc.blob.core.windows.net
        - /container13f20edc
        - restype=container&comp=list
        - ''
version: 1
