interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 19:14:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage606f10b1.blob.core.windows.net/utcontainer606f10b1?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74DB609183237"'
      last-modified: Thu, 10 Oct 2019 19:14:12 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage606f10b1.blob.core.windows.net
        - /utcontainer606f10b1
        - restype=container
        - ''
- request:
    body: AAABBBCCC
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 10 Oct 2019 19:14:12 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-encryption-key:
      - MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=
      x-ms-encryption-key-sha256:
      - 3QFFFpRA5+XANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage606f10b1.blob.core.windows.net/utcontainer606f10b1/cpk606f10b1
  response:
    body:
      string: ''
    headers:
      content-md5: Yge131eW6WNBDTvEtqQhiw==
      etag: '"0x8D74DB60920C4C3"'
      last-modified: Thu, 10 Oct 2019 19:14:12 GMT
      x-ms-content-crc64: DTngHrtvLQU=
      x-ms-encryption-key-sha256: 3QFFFpRA5+XANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage606f10b1.blob.core.windows.net
        - /utcontainer606f10b1/cpk606f10b1
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 19:14:12 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://pyacrstorage606f10b1.blob.core.windows.net/utcontainer606f10b1/cpk606f10b1
  response:
    body:
      string: ''
    headers:
      x-ms-error-code: BlobUsesCustomerSpecifiedEncryption
      x-ms-version: '2019-02-02'
    status:
      code: 409
      message: The blob is encrypted with customer specified encryption, but it was
        not provided in the request.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage606f10b1.blob.core.windows.net
        - /utcontainer606f10b1/cpk606f10b1
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 19:14:13 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-encryption-key:
      - MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=
      x-ms-encryption-key-sha256:
      - 3QFFFpRA5+XANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://pyacrstorage606f10b1.blob.core.windows.net/utcontainer606f10b1/cpk606f10b1
  response:
    body:
      string: ''
    headers:
      content-md5: Yge131eW6WNBDTvEtqQhiw==
      content-type: application/octet-stream
      etag: '"0x8D74DB60920C4C3"'
      last-modified: Thu, 10 Oct 2019 19:14:12 GMT
      x-ms-access-tier: Hot
      x-ms-access-tier-inferred: 'true'
      x-ms-blob-type: BlockBlob
      x-ms-creation-time: Thu, 10 Oct 2019 19:14:12 GMT
      x-ms-encryption-key-sha256: 3QFFFpRA5+XANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage606f10b1.blob.core.windows.net
        - /utcontainer606f10b1/cpk606f10b1
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 19:14:13 GMT
      x-ms-meta-UP:
      - UPval
      x-ms-meta-hello:
      - world
      x-ms-meta-number:
      - '42'
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage606f10b1.blob.core.windows.net/utcontainer606f10b1/cpk606f10b1?comp=metadata
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobUsesCustomerSpecifiedEncryption</Code><Message>The
        blob is encrypted with customer specified encryption, but it was not provided
        in the request.\nRequestId:9e5312a5-f01e-006a-629e-7fda9c000000\nTime:2019-10-10T19:14:13.1800672Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: BlobUsesCustomerSpecifiedEncryption
      x-ms-version: '2019-02-02'
    status:
      code: 409
      message: The blob is encrypted with customer specified encryption, but it was
        not provided in the request.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage606f10b1.blob.core.windows.net
        - /utcontainer606f10b1/cpk606f10b1
        - comp=metadata
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 19:14:13 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-encryption-key:
      - MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=
      x-ms-encryption-key-sha256:
      - 3QFFFpRA5+XANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://pyacrstorage606f10b1.blob.core.windows.net/utcontainer606f10b1/cpk606f10b1
  response:
    body:
      string: ''
    headers:
      content-md5: Yge131eW6WNBDTvEtqQhiw==
      content-type: application/octet-stream
      etag: '"0x8D74DB60956D2A3"'
      last-modified: Thu, 10 Oct 2019 19:14:13 GMT
      x-ms-access-tier: Hot
      x-ms-access-tier-inferred: 'true'
      x-ms-blob-type: BlockBlob
      x-ms-creation-time: Thu, 10 Oct 2019 19:14:12 GMT
      x-ms-encryption-key-sha256: 3QFFFpRA5+XANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-meta-hello: world
      x-ms-meta-number: '42'
      x-ms-meta-up: UPval
      x-ms-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage606f10b1.blob.core.windows.net
        - /utcontainer606f10b1/cpk606f10b1
        - ''
        - ''
version: 1
