interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": true, "stringIndexType": "UnicodeCodePoint"}}], "entityRecognitionPiiTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": true, "stringIndexType":
      "UnicodeCodePoint"}}], "keyPhraseExtractionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": true}}], "entityLinkingTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": true, "stringIndexType": "UnicodeCodePoint"}}], "sentimentAnalysisTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": true, "opinionMining":
      false}}], "extractiveSummarizationTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": true, "stringIndexType": "UnicodeCodePoint", "sentenceCount":
      3, "sortBy": "Offset"}}], "customEntityRecognitionTasks": [{"parameters": {"project-name":
      "textanalytics_custom_entities_project_name", "deployment-name": "textanalytics_custom_entities_project_name",
      "loggingOptOut": true}}], "customSingleClassificationTasks": [{"parameters":
      {"project-name": "single_category_classify_project_name", "deployment-name":
      "single_category_classify_project_name", "loggingOptOut": true}}], "customMultiClassificationTasks":
      [{"parameters": {"project-name": "textanalytics_multi_category_classify_project_name",
      "deployment-name": "textanalytics_multi_category_classify_project_name", "loggingOptOut":
      true}}]}, "analysisInput": {"documents": [{"id": "0", "text": "Test for logging
      disable", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      - 45b21f58-981f-41a3-98d6-0c58597c9558
      date:
      - Wed, 06 Oct 2021 20:48:49 GMT
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/90dcf3a2-0306-4cfc-8bc4-0c9f08b42282
=======
      - 7ba904cd-3e4a-4782-b8af-e5137742615f
      date:
      - Tue, 05 Oct 2021 23:05:39 GMT
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/7fe5a17c-3353-4a0b-bf9e-81e20800c2cc
>>>>>>> feature/ta-v3.2-preview.2
      strict-transport-security:
      - max-age=31536000; includeSubDomains; preload
      transfer-encoding:
      - chunked
      x-content-type-options:
      - nosniff
      x-envoy-upstream-service-time:
<<<<<<< HEAD
      - '675'
=======
      - '2053'
>>>>>>> feature/ta-v3.2-preview.2
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
<<<<<<< HEAD
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/90dcf3a2-0306-4cfc-8bc4-0c9f08b42282
  response:
    body:
      string: '{"jobId":"90dcf3a2-0306-4cfc-8bc4-0c9f08b42282","lastUpdateDateTime":"2021-10-06T20:48:54Z","createdDateTime":"2021-10-06T20:48:49Z","expirationDateTime":"2021-10-07T20:48:49Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":3,"failed":0,"inProgress":6,"total":9,"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-10-06T20:48:52.0029995Z","state":"succeeded","results":{"documents":[{"redactedText":"Test
        for logging disable","id":"0","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"customEntityRecognitionTasks":[{"lastUpdateDateTime":"2021-10-06T20:48:52.6692608Z","state":"succeeded","results":{"documents":[{"id":"0","entities":[],"warnings":[]}],"errors":[],"projectName":"textanalytics_custom_entities_project_name","deploymentName":"textanalytics_custom_entities_project_name"}}],"customMultiClassificationTasks":[{"lastUpdateDateTime":"2021-10-06T20:48:54.3410875Z","state":"succeeded","results":{"documents":[{"id":"0","classifications":[],"warnings":[]}],"errors":[],"projectName":"textanalytics_multi_category_classify_project_name","deploymentName":"textanalytics_multi_category_classify_project_name"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
=======
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/7fe5a17c-3353-4a0b-bf9e-81e20800c2cc
  response:
    body:
      string: '{"jobId":"7fe5a17c-3353-4a0b-bf9e-81e20800c2cc","lastUpdateDateTime":"2021-10-05T23:05:42Z","createdDateTime":"2021-10-05T23:05:38Z","expirationDateTime":"2021-10-06T23:05:38Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":3,"failed":0,"inProgress":6,"total":9,"customEntityRecognitionTasks":[{"lastUpdateDateTime":"2021-10-05T23:05:41.0218796Z","state":"succeeded","results":{"documents":[{"id":"0","entities":[],"warnings":[]}],"errors":[],"projectName":"textanalytics_custom_entities_project_name","deploymentName":"textanalytics_custom_entities_project_name"}}],"customSingleClassificationTasks":[{"lastUpdateDateTime":"2021-10-05T23:05:40.9155093Z","state":"succeeded","results":{"documents":[{"id":"0","classification":{"category":"PlayMusic","confidenceScore":0.6},"warnings":[]}],"errors":[],"projectName":"single_category_classify_project_name","deploymentName":"single_category_classify_project_name"}}],"customMultiClassificationTasks":[{"lastUpdateDateTime":"2021-10-05T23:05:42.6063834Z","state":"succeeded","results":{"documents":[{"id":"0","classifications":[],"warnings":[]}],"errors":[],"projectName":"textanalytics_multi_category_classify_project_name","deploymentName":"textanalytics_multi_category_classify_project_name"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
>>>>>>> feature/ta-v3.2-preview.2
      strict-transport-security:
      - max-age=31536000; includeSubDomains; preload
      transfer-encoding:
      - chunked
      x-content-type-options:
      - nosniff
      x-envoy-upstream-service-time:
<<<<<<< HEAD
      - '241'
=======
      - '288'
>>>>>>> feature/ta-v3.2-preview.2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
<<<<<<< HEAD
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/90dcf3a2-0306-4cfc-8bc4-0c9f08b42282
  response:
    body:
      string: '{"jobId":"90dcf3a2-0306-4cfc-8bc4-0c9f08b42282","lastUpdateDateTime":"2021-10-06T20:49:00Z","createdDateTime":"2021-10-06T20:48:49Z","expirationDateTime":"2021-10-07T20:48:49Z","status":"running","errors":[{"code":"InternalServerError","message":"1
        out of 9 job tasks failed. Failed job tasks : v3.2-preview.2/custom/classification/singlelabel."}],"displayName":"NA","tasks":{"completed":5,"failed":1,"inProgress":3,"total":9,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-10-06T20:48:57.9975943Z","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"text":"logging","category":"Skill","offset":9,"length":7,"confidenceScore":0.61}],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"entityLinkingTasks":[{"lastUpdateDateTime":"2021-10-06T20:49:00.3820332Z","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"bingId":"a7b11e27-5b63-19a5-b4dd-37b71149ecac","name":"Test
        (assessment)","matches":[{"text":"Test","offset":0,"length":4,"confidenceScore":0.04}],"language":"en","id":"Test
        (assessment)","url":"https://en.wikipedia.org/wiki/Test_(assessment)","dataSource":"Wikipedia"}],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-10-06T20:48:52.0029995Z","state":"succeeded","results":{"documents":[{"redactedText":"Test
        for logging disable","id":"0","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"customEntityRecognitionTasks":[{"lastUpdateDateTime":"2021-10-06T20:48:52.6692608Z","state":"succeeded","results":{"documents":[{"id":"0","entities":[],"warnings":[]}][...]
[...]
