{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "A recent report by the Government Accountability Office (GAO) found that the dramatic increase in oil and natural gas development on federal lands over the past six years has stretched the staff of the BLM to a point that it has been unable to meet its environmental protection responsibilities.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "David Schmidt, senior vice president--Food Safety, International Food Information Council (IFIC), Washington, D.C., discussed the physical activity component.",
              "language": "en"
            },
            {
              "id": "3",
              "text": "I need a reservation for an indoor restaurant in China. Please don\u0027t stop the music. Play music and add it to my playlist",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "CustomSingleLabelClassification",
            "parameters": {
              "projectName": "single_category_classify_project_name",
              "deploymentName": "single_category_classify_project_name"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/b5379a21-cd08-4dfd-a3b4-6644bb02275b?api-version=2022-05-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/b5379a21-cd08-4dfd-a3b4-6644bb02275b?api-version=2022-05-01\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "b5379a21-cd08-4dfd-a3b4-6644bb02275b",
        "lastUpdatedDateTime": "2022-06-22T02:34:34Z",
        "createdDateTime": "2022-06-22T02:34:33Z",
        "expirationDateTime": "2022-06-23T02:34:33Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomSingleLabelClassificationLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-06-22T02:34:34.7127647Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 3,
                  "validDocumentsCount": 3,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 3
                },
                "documents": [
                  {
                    "id": "1",
                    "class": [
                      {
                        "category": "RateBook",
                        "confidenceScore": 0.76
                      }
                    ],
                    "statistics": {
                      "charactersCount": 295,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "class": [
                      {
                        "category": "RateBook",
                        "confidenceScore": 0.57
                      }
                    ],
                    "statistics": {
                      "charactersCount": 158,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "3",
                    "class": [
                      {
                        "category": "BookRestaurant",
                        "confidenceScore": 1.0
                      }
                    ],
                    "statistics": {
                      "charactersCount": 121,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "single_category_classify_project_name",
                "deploymentName": "single_category_classify_project_name"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
