interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [],
      "keyPhraseExtractionTasks": [], "entityLinkingTasks": [], "sentimentAnalysisTasks":
      [], "extractiveSummarizationTasks": [], "customEntityRecognitionTasks": [],
      "customSingleClassificationTasks": [{"parameters": {"project-name": "single_category_classify_project_name",
      "deployment-name": "single_category_classify_project_name"}}], "customMultiClassificationTasks":
      []}, "analysisInput": {"documents": [{"id": "1", "text": "A recent report by
      the Government Accountability Office (GAO) found that the dramatic increase
      in oil and natural gas development on federal lands over the past six years
      has stretched the staff of the BLM to a point that it has been unable to meet
      its environmental protection responsibilities.", "language": "en"}, {"id": "2",
      "text": "David Schmidt, senior vice president--Food Safety, International Food
      Information Council (IFIC), Washington, D.C., discussed the physical activity
      component.", "language": "en"}, {"id": "3", "text": "I need a reservation for
      an indoor restaurant in China. Please don''t stop the music. Play music and
      add it to my playlist", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      apim-request-id: efd28695-9e74-4666-a6e2-cf8fae0905c7
      date: Wed, 06 Oct 2021 20:59:14 GMT
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/65a67a66-e95a-475b-b0fc-df92438a225f
      strict-transport-security: max-age=31536000; includeSubDomains; preload
      transfer-encoding: chunked
      x-content-type-options: nosniff
      x-envoy-upstream-service-time: '482'
=======
      apim-request-id: 936b2e95-72ba-40df-af22-dce96b052f08
      date: Tue, 05 Oct 2021 23:08:30 GMT
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/e495cf43-e89d-4db6-9cc5-523f951ff767
      strict-transport-security: max-age=31536000; includeSubDomains; preload
      transfer-encoding: chunked
      x-content-type-options: nosniff
      x-envoy-upstream-service-time: '218'
>>>>>>> feature/ta-v3.2-preview.2
    status:
      code: 202
      message: Accepted
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com//text/analytics/v3.2-preview.2/analyze
- request:
    body: null
    headers:
    method: GET
<<<<<<< HEAD
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/65a67a66-e95a-475b-b0fc-df92438a225f?showStats=True
  response:
    body:
      string: '{"jobId":"65a67a66-e95a-475b-b0fc-df92438a225f","lastUpdateDateTime":"2021-10-06T20:59:18Z","createdDateTime":"2021-10-06T20:59:14Z","expirationDateTime":"2021-10-07T20:59:14Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"completed":1,"failed":0,"inProgress":0,"total":1,"customSingleClassificationTasks":[{"lastUpdateDateTime":"2021-10-06T20:59:18.0881754Z","state":"succeeded","results":{"statistics":{"documentsCount":3,"validDocumentsCount":3,"erroneousDocumentsCount":0,"transactionsCount":3},"documents":[{"id":"1","classification":{"category":"RateBook","confidenceScore":0.76},"statistics":{"charactersCount":295,"transactionsCount":1},"warnings":[]},{"id":"2","classification":{"category":"RateBook","confidenceScore":0.57},"statistics":{"charactersCount":158,"transactionsCount":1},"warnings":[]},{"id":"3","classification":{"category":"BookRestaurant","confidenceScore":1.0},"statistics":{"charactersCount":121,"transactionsCount":1},"warnings":[]}],"errors":[],"projectName":"single_category_classify_project_name","deploymentName":"single_category_classify_project_name"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/65a67a66-e95a-475b-b0fc-df92438a225f?showStats=True
=======
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/e495cf43-e89d-4db6-9cc5-523f951ff767?showStats=True
  response:
    body:
      string: '{"jobId":"e495cf43-e89d-4db6-9cc5-523f951ff767","lastUpda[...]
